{% extends '_base.html' %}
{% load static %}

{% block title %}FAQ page{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">FAQ</li>
{% endblock breadcrumb %}


{% block content %}
<h1>FAQ</h1>
<p>
Faq Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sollicitudin, purus sed interdum gravida, nunc ante fringilla nibh, et aliquet lacus leo ut metus. Fusce ut nulla vestibulum, volutpat quam non, condimentum ex. Quisque ac gravida mi. Integer vitae volutpat neque. Ut fermentum iaculis libero quis congue. Nam quis rutrum purus. Duis euismod tincidunt augue, ac mattis nisl dapibus a. Nunc feugiat eros ac nunc mattis, nec condimentum dolor faucibus.
</p>
<p>
Faq Vestibulum rutrum nisi turpis, eget congue purus fermentum ac. Quisque vel quam vitae quam vehicula euismod. Vivamus consequat metus a nulla mollis, et vehicula justo ornare. Suspendisse vestibulum facilisis ante, vitae tempor dui suscipit sit amet. Mauris malesuada efficitur ultrices. Nulla ultrices faucibus ligula sit amet mattis. Morbi at dolor ac lacus vestibulum congue.     
</p>

{% endblock content %}