{% extends '_base.html' %}

{% block title %}howitworks page{% endblock %}

{% block breadcrumb %}
<li><span>How It Works</span></li>
{% endblock breadcrumb %}

{% block content %}
	<!-- Customer Dashboard -->
    <section id="cs_how_work" class="inner_hiw">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wh_box">
                        <div class="row">
                            <div class="col-12">
                                <div class="heading">
                                    <h2>How It Works</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="grid">
                                    <span>
                                        <i style="background-image:url(http://cleaning.maawebs.com/homeassets/images/hiw1.png);"></i>
                                    </span>
                                    <h4>Enter Postcode</h4>
                                    <p>Enter your postcode to find cleaners available in your area.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="grid">
                                    <span>
                                        <i style="background-image:url(http://cleaning.maawebs.com/homeassets/images/hiw2.png);"></i>
                                    </span>
                                    <h4>Choose Preferred Date</h4>
                                    <p>Select the preferred date, time and frequency of your clean.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="grid">
                                    <span>
                                        <i style="background-image:url(http://cleaning.maawebs.com/homeassets/images/hiw3.png);"></i>
                                    </span>
                                    <h4>Select Your Cleaners</h4>
                                    <p>Compare cleaner profiles and prices and select who will receive your request.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="cs_txt">Praesent sagittis felis leo, a gravida tortor commodo eu. Proin ac nisl vel mauris ornare consequ.</p>
                            </div>
                        </div>
                        <a href="#cs_service" class="sc_down scroll">
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}