{% extends '_base.html' %}

{% block title %}Pricing{% endblock %}

{% block breadcrumb %}
<li><span>Pricing</span></li>
{% endblock breadcrumb %}


{% block content %}
	<!-- Customer Dashboard -->
    <section id="cs_pricing">
        <div class="container">
            <div class="section1">
                <div class="row">
                    <div class="col-12">
                        <div class="heading text-center">
                            <h2>Discount for Customers</h2>
                            <p>It is a long established fact that a 
reader will be distracted by the readable content of a page when looking
 at its layout. The point of using Lorem Ipsum is that it has a 
more-or-less normal distribution of letters, as opposed to using 
'Content here, content here', making it look like readable English. Many
 desktop publishing packages and web page editors now use Lorem Ipsum as
 their default model text, and a search for 'lorem ipsum' will uncover 
many web sites still in their infancy.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="gridi1">
                            <h3>
                                <span>30%</span>OFF
                            </h3>
                            <p>Daily customers</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="gridi1">
                            <h3>
                                <span>30%</span>OFF
                            </h3>
                            <p>Weekly Customers</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="gridi1">
                            <h3>
                                <span>15%</span>OFF
                            </h3>
                            <p> Monthly Customers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section2">
                <div class="row">
                    <div class="col-12">
                        <div class="heading text-center">
                            <h2>Our Prices</h2>
                            <p>A regular clean, a deep scrub of your oven or a one off deep clean.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="pricing_grid">
                            <div class="pricing_header">
                                <h4>Basic</h4>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">30</span>
                                    <span class="duration">mo</span>
                                </div>
                            </div>
                            <div class="pricing_body">
                                <ol class="pricing_features">
                                    <li><em>5</em> Service</li>
                                    <li><em>1</em> Service 2</li>
                                    <li><em>25</em> Service 3</li>
                                    <li><em>1</em> Service 4</li>
                                    <li><em>Unlimited</em> Service 5</li>
                                    <li><em>24/7</em> Service 7</li>
                                </ol>
                            </div>
                            <div class="pricing_footer">
                                <a class="btn btn_grey" href="#">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="pricing_grid">
                            <div class="pricing_header">
                                <h4>Monthly</h4>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">30</span>
                                    <span class="duration">mo</span>
                                </div>
                            </div>
                            <div class="pricing_body">
                                <ol class="pricing_features">
                                    <li><em>5</em> Service</li>
                                    <li><em>1</em> Service 2</li>
                                    <li><em>25</em> Service 3</li>
                                    <li><em>1</em> Service 4</li>
                                    <li><em>Unlimited</em> Service 5</li>
                                    <li><em>24/7</em> Service 7</li>
                                </ol>
                            </div>
                            <div class="pricing_footer">
                                <a class="btn btn_blue" href="#">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mb-4">
                        <div class="pricing_grid">
                            <div class="pricing_header">
                                <h4>Anually</h4>
                                <div class="price">
                                    <span class="currency">$</span>
                                    <span class="value">30</span>
                                    <span class="duration">mo</span>
                                </div>
                            </div>
                            <div class="pricing_body">
                                <ol class="pricing_features">
                                    <li><em>5</em> Service</li>
                                    <li><em>1</em> Service 2</li>
                                    <li><em>25</em> Service 3</li>
                                    <li><em>1</em> Service 4</li>
                                    <li><em>Unlimited</em> Service 5</li>
                                    <li><em>24/7</em> Service 7</li>
                                </ol>
                            </div>
                            <div class="pricing_footer">
                                <a class="btn btn_grey" href="#">Select</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}