body {
  background-image: url("../images/dymo.jpg.webp");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

.jumbotron {
  background-color: 
  #e9ecefd0;
}

@media (max-width: 576px) {
  .container {
    padding-right:0;
    padding-left:0;
  }
}

.file-uploads {
  overflow: hidden;
  position: relative;
  text-align: center;
  display: block;
  width: 90%;
  height: 250px;
  border: solid 1px #3e9bc8;
  margin: auto;
}

#app {
  text-align: center;
  position: relative;
}

#app div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}